.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding-top: 250px
}

.white-title {
  color: white;
}

.footer {
  padding-top: 200px
}

.footer-image {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
